body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ededed;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
